.bill-info {
    position: relative;
}

    .bill-info .row label {
        font-weight: normal;
        white-space: nowrap;
    }

    .bill-info .row {
        margin: 0 8px 0 8px;
    }

        .bill-info .row textarea {
            margin-left: 47px;
            height: 150px;
            max-height: 150px;
        }
